---
title: Witch's Archive
layout: main.html
---

<blockquote>
  <p>
    그들은 다음과 같이 물었다. 이 길에서 이제 가야 할 곳은 어디인가? 케이는 그
    질문을 다음과 같이 뒤집었다. 우리가 가고 싶은 곳이 어딘지 찾자. 그러면 그
    답이 그곳에 가는 방법을 보여줄 것이다. 그는 컴퓨터가 세상에서 어디로 가야
    하는지에 대한 관점을 결코 놓친 적이 없었다. 그것은 사용자가 원하는 것을
    따르는 것이다. 컴퓨터가 원하는 것을 사용자가 따르는 것이 아니었다.
  </p>
</blockquote>
<p>
  - 마이클 A. 힐트직 지음, 이재범 옮김, <cite>제록스 팔로알토 연구소</cite>,
  129p, 앨런 케이의 사상에 관하여
</p>
<p>
  "마녀"라는 닉네임으로 활동하는 김성현입니다.
  <a href="https://witch.work/">블로그</a>를 운영하고 있으며 다른 이력은
  <a href="https://github.com/witch-factory">GitHub</a>에서 찾아보실 수
  있습니다. 도구에 불과한 것들을 마법처럼 여기지 않고, 파악하고 사용하는 자세를
  가지려고 노력합니다.
</p>

<h2>Contents</h2>

<nav>
  <details>
    <summary>
      2025년의 공부 내용
      <span>({{ collections.study2025.length }})</span>
    </summary>

    <ul>
      {% for study in collections.study2025 %}
      <li>
        <a href="{{ study.url }}">{{ study.data.title }}</a>
      </li>
      {% endfor %}
    </ul>

    <p>
      <a href="/study/">학습 목록 페이지로 이동</a>
    </p>
  </details>
  <details>
    <summary>
      스크랩해놓은 글들
      <span>({{ collections.scrap.length }})</span>
    </summary>

    <ul>
      {% for link in collections.scrap %}
      <li>
        <a href="{{ link.url }}">{{ link.data.title }}</a>
      </li>
      {% endfor %}
    </ul>

    <p>
      <a href="/scrap/">스크랩 목록 페이지로 이동</a>
    </p>
  </details>
  <details>
    <summary>
      읽은 책들
      <span>({{ collections.books.length }})</span>
    </summary>

    <ul>
      {% for book in collections.books %}
      <li>
        <a href="{{ book.url }}">{{ book.data.title }}</a>
      </li>
      {% endfor %}
    </ul>

    <p>
      <a href="/books/">책 목록 페이지로 이동</a>
    </p>
  </details>
</nav>
