.subtitle {
  font-size: 1.1em;
}

.stats {
  background: var(--color-code-bg);
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  text-align: center;
}

.stat-item {
  font-size: 0.9em;
  color: #666;
}

.stat-number {
  display: block;
  font-size: 1.8em;
  font-weight: 300;
  color: var(--color-text);
  margin-bottom: 5px;
}

.stat-item dd {
  margin: 0;
  color: var(--color-text-light);
}
