:root {
  --color-text: #111;
  --color-text-light: #666;
  --color-bg: #fff;
  --color-border: #ccc;
  --color-link: #0645ad;
  --color-link-hover: #0b0080;
  --color-code-bg: #f4f4f4;
}

[data-theme="dark"] {
  --color-text: #ececec;
  --color-text-light: #bbb;
  --color-bg: #111;
  --color-border: #444;
  --color-link: #8ab4f8;
  --color-link-hover: #a5c9ff;
  --color-code-bg: #1e1e1e;
}

* {
  box-sizing: border-box;
  /* 긴 단어나 URL 강제 줄바꿈 */
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

body {
  line-height: 1.6;
  font-family: pretendard, apple-system, system-ui, BlinkMacSystemFont, Roboto,
    Helvetica Neue, Arial, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 0 1rem;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}

h1 {
  font-size: 1.75rem;
  margin: 0.75rem 0;
}

h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

h3 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

h4 {
  font-size: 1.1rem;
  margin: 0.25rem 0;
}

header {
  margin: 0;
}

a {
  color: var(--color-link);
  text-decoration: underline;
}

a:hover {
  color: var(--color-link-hover);
}

code {
  display: inline-block;
  background-color: var(--color-code-bg);
  padding: 0.2rem;
  font-family: monospace;
  border-radius: 0.5rem;
}

nav {
  font-size: 1.2rem;
}

#theme-toggle {
  background: none;
  border: 1px solid var(--color-border);
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--color-text);
  border-radius: 0.5rem;
}

.icon-light,
.icon-dark {
  display: none;
}

[data-theme="dark"] .icon-light {
  display: inline;
}
[data-theme="light"] .icon-dark {
  display: inline;
}
