<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/prism-theme.css" />
    <!-- <link rel="stylesheet" href="/styles/prism-material-dark.css" /> -->
    <title>{{ title }}</title>
    <meta
      name="description"
      content="Witch's Archive - A personal archive for TIL, good articles, and book notes."
    />
    <meta name="keywords" content="TIL, 개발, 스크랩, 독서, 아카이브, 블로그" />
    <meta name="author" content="Witch" />
    <link rel="canonical" href="https://archive.witch.work/" />

    <meta property="og:title" content="Witch's Archive" />
    <meta property="og:description" content="도구를 마법처럼 바라보지 않기" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://archive.witch.work/" />
    <meta property="og:image" content="/assets/witch-archive.png" />
    <meta property="og:site_name" content="Witch's Archive" />
    <meta property="og:locale" content="ko_KR" />

    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/apple-icon.png"
    />
  </head>
  <body>
    <header>
      <h1>{{ title }}</h1>
      <nav>
        {% for crumb in breadcrumbs %}
        <a
          href="{{crumb.url}}"
          {%
          if
          forloop.last
          %}
          aria-current="page"
          {%
          endif
          %}
        >
          {{crumb.name}}</a
        >
        {% unless forloop.last %}
        <span>&nbsp;/&nbsp;</span>
        {% endunless %}{% endfor %}
      </nav>
    </header>
    <main>{{ content }}</main>
  </body>
</html>
