<!doctype html>
<html lang="ko_KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/prism-theme.css" />
    <!-- <link rel="stylesheet" href="/styles/prism-material-dark.css" /> -->
    <title>{{ title }}</title>
    <meta
      name="description"
      content="{{ description | default: meta.description }}"
    />
    <meta name="author" content="{{ meta.author }}" />
    <link rel="canonical" href="{{ meta.url }}{{ page.url }}" />

    <meta property="og:title" content="{{ title | default: meta.title }}" />
    <meta
      property="og:description"
      content="{{ description | default: meta.description }}"
    />
    <meta
      property="og:type"
      content="{% if page.url == '/' %}website{% else %}article{% endif %}"
    />
    <meta property="og:url" content="{{ meta.url }}{{ page.url }}" />
    <meta
      property="og:image"
      content="{{ meta.url }}/assets/witch-archive.png"
    />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:locale" content="ko_KR" />

    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/apple-icon.png"
    />
  </head>
  <body>
    <header>
      <h1>{{ title }}</h1>
      <nav>
        {% for crumb in breadcrumbs %}
        <a
          href="{{crumb.url}}"
          {%
          if
          forloop.last
          %}
          aria-current="page"
          {%
          endif
          %}
        >
          {{crumb.name}}</a
        >
        {% unless forloop.last %}
        <span>&nbsp;/&nbsp;</span>
        {% endunless %}{% endfor %}
      </nav>
    </header>
    <main>{{ content }}</main>
  </body>
</html>
