:root {
  --color-text: #111;
  --color-bg: #fff;
  --color-link: #0645ad;
  --color-link-hover: #0b0080;
  --color-code-bg: #f4f4f4;
}

* {
  box-sizing: border-box;
  /* 긴 단어나 URL 강제 줄바꿈 */
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

body {
  line-height: 1.6;
  font-family: pretendard, apple-system, system-ui, BlinkMacSystemFont, Roboto,
    Helvetica Neue, Arial, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 0 1rem;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}

a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
}

code {
  background-color: var(--color-code-bg);
  padding: 0.2rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  white-space: pre-wrap;
  font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono",
    monospace;
}

nav {
  font-size: 1.1rem;
}
